extends layout

block content
  h1= title
  p Welcome to #{title}
  //-const results = [{name: windsor, country: United Kingdom, wealth: $530m},
  //- {name: Vajiralongkorn, country: Thailand, wealth: $43b},
  //- //{name: Bolkiah, country: Brunei, wealth: $28b}
  //- //];
  -let items = results 

  
    div(class="container-fluid") 
    div(class="row") 
      each item in items  
        div(class="row-sm-2", class="m-1") Royalty #{item.name}(#{item.country}) is #{item.wealth} 
   

    div(class="container-fluid") 
    div(class="row m-1") 
      each item in items  
        - let destination = `dispatch(\"/Royalty/update?id=${item._id}\")` 
        div(class="row-sm-2", class="m-1") Royalty #{item.name}(#{item.country}) is #{item.wealth} 
          button.btn( class="btn-primary ml-1", onclick= destination) Update 
   
  script. 
    function dispatch(path){ 
      window.location.href=path 
    }  
  //- script. 
  //-   function buy(index){
  //-     alert(`You purchased Item ${index+1}`)
  //-   }