extends layout

block content
  h1= title
  p Welcome to #{title}
  //-const results = [{name: windsor, country: United Kingdom, wealth: $530m},
  //- {name: Vajiralongkorn, country: Thailand, wealth: $43b},
  //- //{name: Bolkiah, country: Brunei, wealth: $28b}
  //- //];
  -let items = results 

  
  div(class= "container-fluid")
  div(class= "row")
  each value, index in results  
    div(class= "col-sm-2") 
    p #{value.name} is the name of the Monarch
    p in #{value.country} 
    p They are #{value.wealth} million dollars rich. 
    p  
  //- script. 
  //-   function buy(index){
  //-     alert(`You purchased Item ${index+1}`)
  //-   }